@import url('@/css/theme.module.css');
@import url('@/components/ProductDetail/reset.css');

.container {
  transition: all 0.3s ease;
  background-color: var(--white);
  width: 254px;
  position: absolute;
  top: 58px;
  right: 0;
  border: 1px solid var(--gray-100);
  display: flex;
  align-items: center;
  padding: 20px;
  z-index: 100;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.container::after {
  border-color: #fff transparent;
  border-style: solid;
  border-width: 0 7px 8px 7px;
  content: '';
  display: block;
  transform: translateX(-50%);
  position: absolute;
  top: -7px;
  right: 0;
  z-index: 1;
}

.container::before {
  border-color: var(--gray-100) transparent;
  border-style: solid;
  border-width: 0 7px 8px 7px;
  content: '';
  display: block;
  transform: translateX(-50%);
  position: absolute;
  top: -8px;
  right: 0;
  z-index: 1;
}

.image {
  object-fit: cover;
  width: 46px;
}

.text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 16px;
  gap: 8px;
}

.title {
  width: 144px;
  font-size: 12px;
  font-weight: bold;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  font-size: 12px;
  white-space: nowrap;
}
