a {
  text-decoration: none;
  color: #000;
}

.swiper-prev-banner,
.swiper-next-banner ,
.swiper-prev-list,
.swiper-next-list 
{
  position: absolute;
  z-index: 100; 
}

.swiper-prev-banner {
  top: 40%;
  left: 10%;
  width: 50px;
}
.swiper-next-banner {
  top: 40%;
  right: 10%;
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
}
.swiper-prev-list {
  top: 40%;
  left: 3%;
  width: 50px;
}
.swiper-next-list {
  top: 40%;
  right: 3%;
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
}
.swiper-pagination {
  width: 130%;
}
