a {
  text-decoration: none;
  color: #000;
}

.swiper-prev,
.swiper-next {
  position: absolute;
  z-index: 100;
  margin-bottom: 50px;
}
.swiper-prev {
  top: 40%;
  left: 0;
}
.swiper-next {
  top: 40%;
  right: 0;
}
