.banner-img {
  width: 100%;
}
.sale-price {
  color: #fa622f;
  padding-right: 10px;
}
.origin-price {
  color: #898989;
  font-weight: 300;
  font-size: 13px;
  text-decoration: line-through;
  margin-left: 2px;
}
.recommend-products-item__image {
  width: 249px;
  height: 320px;
}
.recommend-products-item__name {
  font-weight: var(--text-400);
  font-size: 13px;
  margin-bottom: 8px;
  margin-top: 16px;

  width: 250px;
  height: 30px;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  white-space: nowrap;
  line-height: 1.2em;
}
/* 이 상품 어때요 상품 가격 */
.recommend-products-item__price {
  font-weight: var(--text-600);
  font-size: var(--text-lg);
}
/* 이 상품 어때요 장바구니 아이콘 버튼 */
.recommend-products-item__cartIconBtn {
  all: unset;
  position: absolute;
  top: 68%;
  left: 76%;
}
