.group {
  width: 783px;
}

.menu {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  line-height: 150%;
}

.list {
  display: flex;
  margin: 0 0 0px 0;
  padding: 0 0 20px 0;
}

li {
  list-style: none;
}

.list > li::after {
  content: '|';
  float: right;
  display: block;
  padding: 0 5px;
  font-size: 8px;
}

.list > li:last-child:after {
  content: '';
  padding: 0;
}

.product-list {
  position: relative;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(auto-fill, 249px);
  gap: 30px 17px;
}

.product-each {
  position: relative;
}

.cart-icon {
  position: absolute;
  right: 10px;
  bottom: 200px;
  border: none;
  background: url('../../../assets/icons/Icon/Cart.svg') no-repeat;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.product-list > a {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

.product-list .test {
  overflow: hidden;
  position: relative;
  background-color: rgb(245, 245, 245);
  width: 249px;
  height: 320px;
}

.product-list > img {
  position: absolute;
  inset: -100%;
  width: 100%;
  height: 320px;
  margin: auto;
  object-fit: cover;
}

.product-info {
  padding-top: 16px;
}

.product-info > span {
  display: block;
}

.product-info__delivery,
.product-info__description {
  color: var(--gray-400);
}

.product-info__delivery {
  font-size: 14px;
}

.product-info__name {
  padding: 8px 0 8px 0;
  line-height: 160%;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 8px;
}

.product-info__price {
  font-size: 21.33px;
  line-height: 150%;
  font-weight: 600;
}

.product-info__sale-ratio {
  color: var(--accent-yellow);
  font-weight: 600;
  font-size: 21.33px;
  line-height: 150%;
}

.product-info__origin-price {
  color: var(--gray-400);
  font-size: 12px;
  text-decoration: line-through;
  padding-bottom: 8px;
}

.product-info__description {
  font-size: 12px;
  line-height: 160%;
}

.product-info__badge {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding-top: 8px;
}

.badge-karly,
.badge-limit {
  background-color: var(--gray-100);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  padding: 4px;
}

.badge-karly {
  color: var(--primary);
}

.page-numbering {
  display: block;
  margin: 0 auto;
  padding-top: 24px;
}

.divider,
.list > li::after {
  color: var(--gray-300);
}

.recommend {
  display: inline-flex;
}

.divider {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
}

.divider:focus {
  color: var(--content);
  font-weight: 700;
}

.notice {
  position: relative;
  top: 1px;
  left: 2px;
}
