.product-each {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  width: 249px;
}

.cart-icon {
  position: absolute;
  top: 260px;
  right: 10px;
  border: none;
  background: url('../../../assets/icons/Icon/Cart.svg') no-repeat;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 320px;
}

.product-info {
  padding-top: 16px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.product-info > span {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-info__delivery,
.product-info__description {
  color: var(--gray-400);
}

.product-info__delivery {
  font-size: 14px;
}

.product-info__name {
  font-weight: 400;
  line-height: 25.6px;
}

.price {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.product-info__price {
  font-size: 21.33px;
  line-height: 150%;
  font-weight: 600;
}

.product-info__sale-ratio {
  color: var(--accent-yellow);
  font-weight: 600;
  font-size: 21.33px;
  line-height: 150%;
}

.product-info__origin-price {
  color: var(--gray-400);
  font-size: 12px;
  text-decoration: line-through;
}

.product-info__description {
  font-size: 12px;
  line-height: 160%;
}

.product-info__badge {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.badge-karly,
.badge-limit {
  background-color: var(--gray-100);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  padding: 4px;
}

.badge-karly {
  color: var(--primary);
}
