.product-each {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

.cart-icon {
  position: absolute;
  right: 10px;
  bottom: 200px;
  border: none;
  background: url('../../../assets/icons/Icon/Cart.svg') no-repeat;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 320px;
}

.product-info {
  padding-top: 16px;
}

.product-info > span {
  display: block;
}

.product-info__delivery,
.product-info__description {
  color: var(--gray-400);
}

.product-info__delivery {
  font-size: 14px;
}

.product-info__name {
  padding: 8px 0 8px 0;
  line-height: 160%;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 8px;
}

.product-info__price {
  font-size: 21.33px;
  line-height: 150%;
  font-weight: 600;
}

.product-info__sale-ratio {
  color: var(--accent-yellow);
  font-weight: 600;
  font-size: 21.33px;
  line-height: 150%;
}

.product-info__origin-price {
  color: var(--gray-400);
  font-size: 12px;
  text-decoration: line-through;
  padding-bottom: 8px;
}

.product-info__description {
  font-size: 12px;
  line-height: 160%;
}

.product-info__badge {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding-top: 8px;
}

.badge-karly,
.badge-limit {
  background-color: var(--gray-100);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  padding: 4px;
}

.badge-karly {
  color: var(--primary);
}
