h3 {
  margin-top: 48px;
  text-align: center;
  font-size: 21.33px;
  font-weight: 600;
}

.wrapper {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 48px;
}
