.post-container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  width: 400px;
  margin-bottom: var(--spacing-xxs);
}
.title {
  color: white;
  margin: 0;
  font-size: var(--text-lg);
  margin-right: auto;
}

.button {
  border: none;
  background-color: transparent;
  padding: 0;
}
