/* 메인 배너 스와이퍼  */
.main-banner {
  width: 100%;
  min-width: 1050px;
}

/* h2 숨김 처리 */
.a11y-hidden {
  display: none;
}

/* 메인배너 밑부분 전체 */
.main {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

/* 이 상품 어때요 h2텍스트 */
.recommend-products-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28.43px;
  font-weight: var(--text-700);
  height: 40px;
  margin-top: 52px;
  margin-bottom: 40px;
}

/* 퍼플 위크 배너 */
.line-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

/* 퍼플 위크 배너 이미지 */
.line-banner-image {
  width: 100%;
}

/* 놓치면 후회할 가격 전체 영역 */
.sale-products {
  /* background-color: salmon; */
  margin-bottom: 40px;
}

/* 놓치면 후회할 가격 h2텍스트 */
.sale-products-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28.43px;
  font-weight: var(--text-700);
  height: 40px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.swiper-prev,
.swiper-next {
  position: absolute;
  z-index: 50;
  margin-bottom: 50px;
}
.swiper-prev {
  top: 50%;
  left: 0;
}
.swiper-next {
  top: 50%;
  right: 0;
}
