.recommend {
  display: inline-flex;
}

.divider {
  background-color: inherit;
  color: var(--gray-300);
  border: none;
  cursor: pointer;
  padding: 0;
}

.divider:focus {
  color: var(--content);
  font-weight: 700;
}

.notice {
  position: relative;
  top: 1px;
  left: 2px;
}
