/* 회원가입 페이지 */
.register {
  width: 640px;
  margin: auto;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
}
.register-title {
  font-size: var(--text-lg);
  font-weight: var(--text-600);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 44px;
}
.register > .register-required::before {
  content: '*';
  font-size: var(--text-base);
  color: var(--info-error);
  padding: var(--spacing--xxs);
  position: absolute;
  top: var(--minus-spacing-xs);
  left: var(--minus-spacing-sm);
}

.register > p {
  font-size: var(--text-xs);
  position: absolute;
  top: 115px;
  right: var(--spacing-sxxs);
}

.register-form {
  display: flex;
  flex-flow: column nowrap;
  border-top: 2px solid var(--black);
}

.register-wrapper {
  display: flex;
}
