/* 회원가입 페이지 */

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.register {
  width: 640px;
  margin: auto;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
}
.register-title {
  font-size: var(--text-lg);
  font-weight: var(--text-600);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 44px;
}
.register > .register-required::before {
  content: '*';
  font-size: var(--text-base);
  color: var(--info-error);
  padding: var(--spacing--xxs);
  position: absolute;
  top: var(--minus-spacing-xs);
  left: var(--minus-spacing-sm);
}

.register > p {
  font-size: var(--text-xs);
  position: absolute;
  top: 115px;
  right: var(--spacing-sxxs);
}

.register-form {
  display: flex;
  flex-flow: column nowrap;
  border-top: 2px solid var(--black);
}

.register-wrapper {
  display: flex;
}

.register-terms {
  display: flex;
  flex-flow: row nowrap;
  border-top: solid 1px var(--black);
  border-bottom: solid 1px var(--gray-300);
}

.register-label,
.register-label p {
  width: 139px;
  height: 44px;
  font-weight: var(--text-600);
  margin: 0 var(--spacing--xxs);
  padding-left: var(--spacing--xxs);
  display: inline-block;
  line-height: 44px;
  vertical-align: middle;
  position: relative;
}
.register-label-required,
.register-label-required p {
  width: 139px;
  height: 44px;
  font-weight: var(--text-600);
  margin: 0 var(--spacing--xxs);
  padding-left: var(--spacing--xxs);
  display: inline-block;
  line-height: 44px;
  vertical-align: middle;
  position: relative;
}
