.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
a {
  text-decoration: none;
  color: #000;
}

.container {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}
.banner-wrapper {
  background-color: #5f0080;
  color: #fff;
}

.banner-box {
  width: 1050px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-box p {
  margin-left: 383px;
}
.banner-box img {
  margin-left: auto;
  transform: translateX(30%);
}
.banner-box span {
  font-weight: var(--text-600);
}

.wrapper {
  max-width: 1050px;
  margin: 0 auto;
}
.member {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.member-wrapper {
  position: relative;
  display: flex;
  gap: var(--spacing-md);
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-md);
  font-size: var(--text-xs);
  color: var(--content);
}
.member-wrapper li a {
  color: var(--content);
  font-weight: var(--text-400);
}
.member-wrapper li a::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 13px;
  background-color: #d9d9d9;
  margin-left: 10px;
}

.member-wrapper .selected a {
  color: var(--primary);
}

.register {
  color: var(--primary) !important;
  font-weight: var(--text-600) !important;
}

.header-main {
  display: flex;
  align-items: center;
}
.header-main > div {
  display: flex;
  align-items: center;
}

.header-main button {
  cursor: pointer;
  font-size: var(--text-md);
  padding: 2px var(--spacing-sm);
  font-weight: var(--text-600);
  background-color: transparent;
  border: none;
}

.market {
  color: var(--primary);
  min-width: 103px;
}

.beauty {
  color: var(--gray-500);
  min-width: 103px;
}

.new {
  position: relative;
  top: var(--minus-spacing-xs);
  left: 2px;
}
.header-main .quick-menu {
  display: flex;
  gap: var(--spacing-md);
}

.quick-menu {
  margin-left: 172px;
  transform: translateX(-14px);
}
.quick-menu img:hover {
  filter: invert(14%) sepia(34%) saturate(6752%) hue-rotate(277deg)
    brightness(55%) contrast(131%);
}
.quick-menu span {
  width: 36px;
  height: 36px;
}
.cart-box {
  width: 36px;
  height: 36px;
  position: relative;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 63px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  width: 400px;
}
.search-box .search-icon {
  margin-right: var(--spacing-sm);
}
.search-input {
  width: 344px;
  border: none;
  padding: 13px 0 13px 20px;
  background-color: transparent;
}

.search-input:focus {
  outline: none;
}
.search-input::placeholder {
  opacity: 0.8;
  font-size: var(--text-base);
}

.cart-box .cart-number {
  position: absolute;
  right: -4px;
  top: -1px;
  width: 20px;
  height: 20px;
  padding: 0px 5px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(95, 0, 128);
  font-size: 9px;
  color: rgb(255, 255, 255);
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
}

.logout {
  color: var(--primary);
  cursor: pointer;
}
