.order-container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 400px;
  height: 200px;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: var(--text-md);
  font-weight: var(--text-600);
}
.button {
  background-color: transparent;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
