.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.register-label {
  width: 139px;
  height: 44px;
  font-weight: var(--text-600);
  margin: 0 var(--spacing--xxs);
  padding-left: var(--spacing--xxs);
  display: inline-block;
  line-height: 44px;
  vertical-align: middle;
  position: relative;
}

.event-wrapper {
  width: 333px;
  height: 44px;
  margin: 0 var(--spacing--xxs);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.event-wrapper label {
  width: 333px;
}
