.gender-wrapper {
  width: 333px;
  height: 44px;
  margin: 0 var(--spacing--xxs);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

input[type='radio'] + label {
  position: relative;
  line-height: 44px;
  vertical-align: middle;
}

input[type='radio'] + label::before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: var(--spacing-sm);
  background: url(../../assets/input/Radio.png) no-repeat -8px -8px;
  position: relative;
  line-height: 44px;
  vertical-align: middle;
  top: -2px;
}

input[type='radio']:focus + label::before {
  outline-width: 2px;
  outline-style: solid;
  border-radius: 50%;
  outline-color: var(--primary);
}

input[type='radio']:checked + label::before {
  background-position: -8px -41px;
}
