.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.open-terms {
  padding: var(--spacing--xxs) var(--spacing-xs);
  width: 60px;
  height: 27px;
  margin-top: var(minus-spacing-sm);
  border: none;
  font-size: var(--text-xs);
  color: var(--primary);
  background: var(--white);
  position: relative;
  text-align: right;
}

button.open-terms::after {
  content: ' ';
  display: inline-block;
  width: 6px;
  height: 11px;
  margin-left: var(--spacing--xxs);
  background: url(../../assets/input/Arrow.png) no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}
