.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.register-label-required {
  width: 139px;
  height: 44px;
  font-weight: var(--text-600);
  margin: 0 var(--spacing--xxs);
  padding-left: var(--spacing--xxs);
  display: inline-block;
  line-height: 44px;
  vertical-align: middle;
  position: relative;
}

.register-label-required::after {
  content: '*';
  color: var(--info-error);
  font-weight: var(--text-600);
  padding: var(--spacing--xxs);
  position: absolute;
  top: var(--minus-spacing-sm);
}

.address-desc {
  order: 3;
  font-size: var(--text-xs);
  position: relative;
  left: 150px;
  margin-top: var(--spacing--xxs);
}

.register-label {
  width: 139px;
  height: 44px;
  font-weight: var(--text-600);
  margin: 0 var(--spacing--xxs);
  padding-left: var(--spacing--xxs);
  display: inline-block;
  line-height: 44px;
  vertical-align: middle;
  position: relative;
}

.gender-wrapper {
  width: 333px;
  height: 44px;
  margin: 0 var(--spacing--xxs);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

input[type='radio'] + label::before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: var(--spacing-sm);
  background: url(../../assets/input/Radio.png) no-repeat -8px -8px;
  position: relative;
  line-height: 44px;
  vertical-align: middle;
  top: -2px;
}

input[type='radio']:focus + label::before {
  outline-width: 2px;
  outline-style: solid;
  border-radius: 50%;
  outline-color: var(--primary);
}

input[type='radio']:checked + label::before {
  background-position: -8px -41px;
}

.address-wrapper {
  display: inline-block;
}

div > ul > li:nth-child(n + 1):nth-child(-n + 10) {
  padding: var(--spacing-md) 0;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

input[type='radio'] + label {
  position: relative;
  line-height: 44px;
  vertical-align: middle;
  width: 100px;
}

.register-birth-wrapper {
  width: 333px;
  height: 44px;
  margin: 0 var(--spacing--xxs);
  border: solid 1px var(--gray-300);
  border-radius: 3px;
  background-color: var(--white);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.register-birth-wrapper input:focus {
  outline: none;
}

.register-birth-wrapper input {
  width: 60px;
  height: 44px;
  text-align: center;
  border: none;
  background-color: transparent;
}

.birth-between {
  height: 44px;
  line-height: 44px;
  margin-top: var(--minus-spacing-sxxs);
  vertical-align: middle;
  color: var(--dark-grey);
}

.event-wrapper {
  width: 333px;
  height: 44px;
  margin: 0 var(--spacing--xxs);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  white-space: nowrap;
}
