.modal {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.modal__body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 396px;
  height: 292px;
  background: var(--white);
  border-radius: 10px;
  padding: 24px 20px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.add-cart--info--name {
  margin: 0;
}

.add-cart--info--price {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 28px;
}

.add-cart--info--price > p {
  margin: 0;
}

.add-cart--info--frame {
  padding-bottom: 26px;
}

.add-cart--info--total {
  display: flex;
  justify-content: space-between;
  text-align: bottom;
  padding-bottom: 10px;
}
.add-cart--info--total--text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.add-cart--info--total--price {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

.add-cart--info--save {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.add-cart--info--badge {
  background: #fa622f;
  border-radius: 1px;
  color: white;
  font-weight: 600;
  font-size: 1px;
  line-height: 180%;
  padding: 0px 8px;
  width: 37px;
  height: 18px;
}

.add-cart__button {
  display: flex;
  justify-content: space-between;
}

.add-cart__button > button {
  width: 174px;
  height: 54px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  border-radius: 4px;
  cursor: pointer;
}

.add-cart__button--cancel {
  border: 1px solid var(--gray-400);
  background-color: var(--white);
  color: var(--content);
}

.add-cart__button--in {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
}
