.active {
  display: none;
}

.accordion__body {
  display: block;
  padding: 0;
}

.accordion__button {
  background: none;
  border: none;
  border-bottom: 1px solid var(--gray-100);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 52px;
  cursor: pointer;
}

.accordion__button-text {
  display: flex;
  gap: 8px;
}

.accordion__button-text--name {
  font-weight: 600;
  line-height: 150%;
}

.accordion__button-text--number {
  font-weight: 600;
  font-size: 10px;
  line-height: 160%;
  align-self: center;
}

.accordion__button-text--number,
.list > li::after {
  color: var(--gray-300);
}

.accordion__button-text--name {
  color: var(--content);
  font-size: 16px;
}
