.register-container {
  width: 640px;
  margin: auto;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
}

.register-title {
  font-size: var(--text-lg);
  font-weight: var(--text-600);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 44px;
}

.register-container > .register-required::before {
  content: '*';
  font-size: var(--text-base);
  color: var(--info-error);
  padding: var(--spacing--xxs);
  /* position: absolute; */
  top: var(--minus-spacing-sm);
  left: var(--minus-spacing-sm);
}

.register-required {
  font-weight: var(--text-600);
  font-size: var(--text-xs);
  line-height: var(--text-md);
  display: flex;
  justify-content: flex-end;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-bottom: 6px;
}

.register-form {
  display: flex;
  flex-flow: column nowrap;
  border-top: 2px solid var(--black);
}
