.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.open {
  display: flex;
  position: fixed;
  overflow: hidden;
  touch-action: none;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.closed {
  display: none;
}

.modalContent {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 10% auto;
  border-radius: 16px;
  width: 25vw;
  height: 25vh;
  margin-top: 45vh;
  max-width: 600px;
  max-height: 200px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.closeButton:hover,
.closeButton:focus {
  color: #000;
  text-decoration: none;
}

.modalBody {
  position: relative;
  width: 100%;
  margin-top: 20px;
  font-size: var(--text-base);
  font-weight: var(--text-500);
  text-align: center;
}

.modalBody p {
  font-size: 1.1rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.btn-container button {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.modal-close-button {
  display: block !important;
  all: unset;
  color: var(--primary);
  background-color: transparent;
  padding: 20px 0;
  font-size: var(--text-base);
  font-weight: var(--text-500);
  cursor: pointer;
  border-top: 1px solid rgb(247, 247, 247);
}

.show {
  display: block;
}
